        * {
            box-sizing: border-box;
        }
        
        body {
            background-color: black;
            color: #fff;
            font-family: sans-serif;
        }
        /*Small*/
        
        @media (min-width:768px) {
            .container {
                width: 750px;
            }
        }
        /*Medium*/
        
        @media (min-width:992px) {
            .container {
                width: 970px;
            }
        }
        /*Large*/
        
        @media (min-width:1200px) {
            .container {
                width: 1170px;
            }
        }
        
        .container {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .header {
            padding: 20px;
        }
        
        .header .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .header .log {
            width: 80px;
            height: 80px;
            padding: 5px;
        }
        
        .header .log img {
            width: 50px;
            height: 50px;
        }
        
        .header .nav .list {
            display: flex;
            list-style-type: none;
            justify-content: center;
        }
        
        .header .nav .list li a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 5px;
        }
        
        .landing {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        
        .landing .container {
            display: flex;
            justify-content: space-between;
        }
        
        .landing .container .description {
            margin-top: 15px;
            width: 450px;
        }
        
        .landing .container .description button {
            padding: 10px;
            border-radius: 18px;
            font-size: 20px;
            border: none;
        }
        
        .landing .container .im img {
            width: 230px;
            height: 420px;
            margin-top: -50px;
            margin-right: 25px;
        }
        
        .menu .container {
            display: flex;
            justify-content: center;
        }
        
        .menu .container img {
            width: 50px;
            height: 70px;
            background-color: transparent;
            cursor: pointer;
            transition: .4s;
        }
        /* header .haut .design span {
            width: 10px;
            height: 10px;
            margin: 1px;
            background-color: var(--main-color);
        } */
        
        .menu .container img:hover {
            height: 75px;
            margin-top: -10px;
        }
        /* .menu .container img.black {
            width: 50px;
        }
        
        .menu .container img.black,
        .menu .container img.red {
            height: 90px;
        } */
        
        @media (max-width: 767px) {
            .header .container {
                justify-content: center;
            }
            .header .nav .list {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
            }
            .header .nav .list li a {
                line-height: 1.5;
                transition: 0.4s;
                font-size: 15px;
            }
            .header .nav .list li a:hover {
                padding-left: 10px;
            }
            .landing .container {
                justify-content: center;
            }
            .landing .container .description {
                width: 260px;
                font-size: 15px;
            }
            .landing .container .description button {
                font-size: 16px;
            }
            .landing .container .im img {
                width: 160px;
                height: 290px;
                margin-top: -5px;
                margin-right: 25px;
            }
        }
